/* Min width: 1080px */

.container {
  max-width: 3840px;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
}

.decofollow p {
  color: var(--logo-color);
  /*background: rgba(48, 48, 48, 0.95);
  border-radius: 5%;*/
  text-decoration: underline;
}

#map img {
  /* display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%; */
  padding: 1rem;
}
