@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
@import url("https://fonts.googleapis.com/css?family=Poiret+One");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,700");

body {
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  color: #505962;
}

.offset:before {
  height: 3.8rem;
  margin-top: -3.8rem;
  content: "";
  display: block;
}

logo {
  font-family: "Poiret One", cursive;
  /*font-family: 'Josefin Sans', sans-serif;*/
  text-shadow: 4px 4px 4px #aaa;
  color: #d4af37;
}

#logo {
  font-family: "Josefin Sans", sans-serif;
  /*text-shadow: 4px 4px 4px #aaa; */
  color: #d4af37;
  text-transform: capitalize;
  font-size: 1.5rem;
}

/* Navbar */
.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  background: rgba(0, 0, 0, 0.6) !important;
}
.navbar-nav li {
  padding-right: 0.7rem;
}
.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
  padding-top: 0.8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #d4af37;
}

/* slider*/
/* .carousel-item {
  height: 100vh;
  background-size: cover;
} */
.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 2rem;
}
.carousel-caption {
  position: absolute;
  top: 38%;
  text-transform: uppercase;
}
.carousel-caption h1 {
  font-size: 3.8rem;
  font-weight: 700;
  text-shadow: 0.1rem 0.1rem 0.8rem black;
  padding-bottom: 1rem;
}
.carousel-caption h3 {
  font-size: 2rem;
  font-weight: 700;
  text-shadow: 0.1rem 0.1rem 0.5rem black;
  padding-bottom: 1.6rem;
  color: aquamarine;
}
.btn-lg {
  border-width: medium;
  border-radius: 0;
  font-size: 1.1rem;
}

/*Leasing*/
#lease {
  margin-bottom: 3.25rem;
}
.hero-image {
  background-image: url(img/lease1.jpg);
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text {
  text-align: left;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 0.1rem 0.1rem 0.8rem black;
  margin-left: 2rem;
  text-transform: uppercase;
}
.leaseInfo {
  margin-top: 2rem;
  margin-left: 2rem;
}
.leaseSubtitulo {
  margin-left: 1.6rem;
  margin-bottom: 1rem;
}

/*Portfolio */
#jumbotron {
  border-radius: 0;
  padding: 2rem 0 2rem;
  margin-bottom: 0;
  background-color: #dcdcdc;
}
h3.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 1.9rem;
}
.heading-underline {
  width: 3rem;
  height: 0.2rem;
  background-color: #d4af37;
  margin: 0 auto 2rem;
}
.portfolio img {
  max-width: 100%;
  transition: transform 0.5s ease;
}
.portfolio img:hover {
  transform: scale(1.1);
  cursor: zoom-in;
}
.portfolio {
  overflow: hidden;
}
#portfolio {
  margin-bottom: 1.75rem;
}

.row.no-padding [class*="col-"] {
  padding: 0;
}

#photosby {
  text-align: center;
  font-size: 0.75rem;
}
#location {
  padding-top: 2rem;
}
#locacion {
  margin-bottom: -1rem;
}
#pexels {
  font-size: .6rem;
  margin-top: -1rem;
}
/* Set the size of the div element that contains the map */
#map {
  margin-top: 2rem;
  height: 400px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
}


/*contact*/
footer {
  background-color: #40474e;
  color: #ffffff;
  padding: 2rem 0 3rem;
  margin-top: 1rem;
}
footer img {
  height: 3rem;
  margin-top: -1rem;
  margin-bottom: 1rem;
}

footer a {
  color: #ffffff;
}
hr.socket {
  border-top: 0.2rem solid #d4af37;
  width: 100%;
}
#subheader {
  margin-top: -1.75rem;
  margin-bottom: 2rem;
}
.card-body p {
  text-align: left;
}
.card-body h4 {
  margin-bottom: 1.25rem;
  margin-top: 2rem;
}
#paraAlquiler {
  text-align: center;
}
#paraAlquiler p {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

/* 404 Page */
main{
  width: 100%;
  overflow: hidden;
  font-family: 'Josefin Sans', cursive;
}
.hero{
  width: 100%;
  max-width: 1200px;
  height: 100%;
  max-height: 1000px;
  text-align: center;
  margin: 0 auto;
  background: #392f28;
  position: relative; 
  
}

.hero h1{
  font-size: 4.1em;
  margin: auto;
  position: absolute; 
  top: 120px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  color: #d4af37;
}
.hero p{
  font-size: 1.5em;
  margin: auto;
  position: absolute; 
  top: 220px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  color: #FFF;
}
.hero img{
  width: 100%;
}



/* Media queries */
@media (max-width: 767px) {
  .carousel-caption h1 {
    font-size: 2.3rem;
    padding-bottom: 0.5rem;
  }
  .carousel-caption h3 {
    font-size: 1.2rem;
    padding-bottom: 1.2rem;
    color: aquamarine;
  }
  .btn-lg {
    font-size: 1rem;
  }
  #titulo {
    font-size: 1.75rem;
  }
  #subheader {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  #portafolio {
    margin-bottom: -0.5rem;
  }
  #locacion {
    margin-bottom: -0.5rem;
  }
  .card-body p {
    text-align: left;
  }
  .hero-text {
    color: #d4af37;
  }
  .leaseInfo {
    margin-left: 0;
    margin-bottom: 3.5rem;
  }
  #informacion {
    margin-top: -1.5rem;
  }
}
