@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
@import url("https://fonts.googleapis.com/css?family=Poiret+One");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,700");

body {
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  color: #505962;
}

.offset:before {
  height: 3.8rem;
  margin-top: -3.8rem;
  content: "";
  display: block;
}

logo {
  font-family: "Poiret One", cursive;
  /*font-family: 'Josefin Sans', sans-serif;*/
  text-shadow: 4px 4px 4px #aaa;
  color: #d4af37;
}

#logo {
  font-family: "Josefin Sans", sans-serif;
  /*text-shadow: 4px 4px 4px #aaa; */
  color: #d4af37;
  text-transform: capitalize;
  font-size: 1.5rem;
}

/* Navbar */
.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  background: rgba(0, 0, 0, 0.6) !important;
}
.navbar-nav li {
  padding-right: 0.7rem;
}
.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
  padding-top: 0.8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #d4af37;
}

/* Main Hero */
.top-hero {
  height: 100vh;
  min-height: 300px;
  margin-bottom: 2rem;
}

.top-hero-image {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/slide-1.jpg");
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
        }

.top-hero-text {
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            margin-top: 1.75rem;            
        }

.top-hero-text h1 {
  font-size: 3.9rem;
  font-weight: bold;
  text-shadow: 0.1rem 0.1rem 0.8rem black;
  padding-bottom: 1rem;
  font-family: "Poiret One", cursive;
}
.top-hero-text h3 {
  font-size: 2rem;
  font-weight: 700;
  text-shadow: 0.1rem 0.1rem 0.5rem black;
  padding-bottom: 1.6rem;
  color: aquamarine;
}
.btn-lg {
  border-width: medium;
  border-radius: 0;
  font-size: 1.1rem;
}
/* General Information top */
.container p {
  margin-left: 1rem;
}

/*Leasing*/
#lease {
  margin-bottom: 3.25rem;
}
.hero-image {
  background-image: url("img/lease-1.jpg");
  background-color: #cccccc;
  height: 500px; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text {
  text-align: left;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: blanchedalmond;
  text-shadow: 0.1rem 0.1rem 0.8rem black;
  margin-left: .75rem;
  text-transform: uppercase;
}
.leaseInfo {
  margin-top: 2rem;
  margin-left: 1rem;
}
.leaseSubtitulo {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

/*Portfolio */
#jumbotron {
  border-radius: 0;
  padding: 2rem 0 2rem;
  margin-bottom: 0;
  background-color: #dcdcdc;
}
h3.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 1.9rem;
}
.heading-underline {
  width: 3rem;
  height: 0.2rem;
  background-color: #d4af37;
  margin: 0 auto 2rem;
}

.portfolio img {
  width: 100%;
  max-height: 400px;
  max-width: 400px;
  transition: transform 0.5s ease;
} 
.portfolio img:hover {
  transform: scale(1.1);
  cursor: zoom-in;
}

.portfolio {
  overflow: hidden;
}

#portfolio {
  margin-bottom: 1.75rem;
}

.row.no-padding [class*="col-"] {
  padding: 0;
}

#photosby {
  text-align: center;
  font-size: 0.75rem;
}

/* Location and card  */
.card .responsive {
  width: 100%;
  max-width: 768px;
  height: auto;
}
#location {
  padding-top: 2rem;
}
#locacion {
  margin-bottom: -1rem;
}
#pexels {
  font-size: .6rem;
  margin-top: -1rem;
}
/* Set the size of the div element that contains the map */
#map {
  margin-top: 2rem;
  height: 400px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
}


/*contact*/
footer {
  background-color: #40474e;
  color: #ffffff;
  padding: 2rem 0 3rem;
  margin-top: 1rem;
}
footer img {
  height: 3rem;
  margin-top: -1rem;
  margin-bottom: 1rem;
}

footer a {
  color: #ffffff;
}
hr.socket {
  border-top: 0.2rem solid #d4af37;
  width: 100%;
}
#subheader {
  margin-top: -1.75rem;
  margin-bottom: 2rem;
}
.card-body p {
  text-align: left;
}
.card-body h4 {
  margin-bottom: 1.25rem;
  margin-top: 2rem;
}
#paraAlquiler {
  text-align: center;
}
#paraAlquiler p {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

/* 404 Page */
main{
  width: 100%;
  overflow: hidden;
  font-family: 'Josefin Sans', cursive;
}
.hero{
  width: 100%;
  max-width: 1200px;
  height: 100%;
  max-height: 1000px;
  text-align: center;
  margin: 0 auto;
  background: #392f28;
  position: relative; 
  
}

.hero h1{
  font-size: 4.1em;
  margin: auto;
  position: absolute; 
  top: 120px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  color: #d4af37;
}
.hero p{
  font-size: 1.5em;
  margin: auto;
  position: absolute; 
  top: 220px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  color: #FFF;
}
.hero img{
  width: 100%;
}


@media (min-width: 769px) {
  .top-hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("img/slide-1-large.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  /* Leasing hero */
  .hero-image {
    background-image: url("img/lease-large.jpg");
    background-color: #cccccc;
    height: 100vh;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  /* location */
  .card .responsive {
    height: auto;
    max-width: 100%;
  }

/* Portfolio */
  .portfolio img {
    max-width: 100%;
  }
  
  /* Location */
  

}
